<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="peerID" value ="297242245071222204061446685627068388524012523590"/>
    <add key="url" value="http://192.168.1.143"/>
    <add key="port" value="3002"/>
    <add key="localStore" value="localStore.dbr"/>
    <add key="republishStore" value="republishStore.dbr"/>
  </appSettings>
</configuration>
