<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <appSettings>
    <add key="peerID" value ="745355404408557529146855035146118072411033066259"/>
    <!--<add key="url" value="http://192.168.0.2"/>-->
    <add key="url" value="http://localhost"/>
    <add key="port" value="3001"/>
    <add key="subnet" value="1"/>
    <add key="localStore" value="localStore.dbr"/>
    <add key="republishStore" value="republishStore.dbr"/>
  </appSettings>
</configuration>
